@page "/sites/{*UrlToGetData}"
@using Core.Extensions

history page of @UrlToGetData


@ExceptionMessage
@if (Probes == null)
{
    <span class="sr-only"> Loading...</span>
    <div class="spinner-border" role="status">
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
        <div class="col">
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@($"{SiteEntity.ScreenshotBase64}")" class="card-img-top" alt="..." width="280" height="157">
                <div class="card-body">

                    <div class="d-flex flex-row">
                        @if (SiteEntity.FaviconBase64 != null)
                        {
                            <img src="@($"{SiteEntity.FaviconBase64}")" class="my-1" width="16" height="16">
                        }
                        <h5 class="card-title">@SiteEntity.Name - @SiteEntity.Title</h5>
                    </div>
                    <p class="card-text">Latency: @Probes.FirstOrDefault().LatencyInChrome DomLoaded: @Probes.FirstOrDefault().DOMContentLoadedEventInChrome</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated @Probes.FirstOrDefault().DateCreated.GetValueOrDefault().TimeAgo()</small>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latency</th>
                <th scope="col">DOMContentLoaded</th>
                <th scope="col">Loaded</th>
                <th scope="col">Date</th>
                <th scope="col">Image</th>
                <th scope="col">Requests</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timing in Probes)
            {
                <tr>
                    <th scope="row">@(Probes.IndexOf(timing) + 1)</th>
                    <td>@timing.LatencyInChrome</td>
                    <td>@timing.DOMContentLoadedEventInChrome</td>
                    <td>@timing.LoadEventInChrome</td>
                    <td>@timing.DateCreated</td>
                    <td><img src="@timing.ScreenshotBase64" /></td>
                    <td>
                        @*@foreach(var r in timing.Requests)
                            {
                            <p>@($"{r.Url} {r.ResponseEnd}")</p>
                            }*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
