@page "/{*UrlToGetData}"

@using Core.Extensions

history page of @UrlToGetData 

@if (Timings == null)
{
    <span class="sr-only"> Loading...</span>
    <div class="spinner-border" role="status">
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latency</th>
                <th scope="col">DOMContentLoaded</th>
                <th scope="col">Loaded</th>
                <th scope="col">Date</th>
                <th scope="col">Image</th>
                <th scope="col">Requests</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timing in Timings)
            {
                <tr>
                    <th scope="row">@(Timings.IndexOf(timing) + 1)</th>
                    <td>@timing.LatencyInChrome</td>
                    <td>@timing.DOMContentLoadedEventInChrome</td>
                    <td>@timing.LatencyInChrome</td>
                    <td>@timing.DateCreated</td>
                    <td><img src="@timing.ScreenshotBase64" /></td>
                    <td>
                    @*@foreach(var r in timing.Requests)
                    {
                        <p>@($"{r.Url} {r.ResponseEnd}")</p>
                    }*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
