@page "/site"

@using Core.Extensions

  <div class="px-4 py-1 my-1 text-center">
    <img class="d-block mx-auto mb-4" src="android-chrome-512x512.png" alt="" width="57" height="57">
    <h1 class="display-5 fw-bold">SiteTiming</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Measure website performance, availability and connectivity.</p>
      <p>
           <div>
  <label for="exampleFormControlInput1" class="form-label">Enter a domain below to check timings</label>
  <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="facebook.com">
</div>
<div>
          <a href="#" class="btn btn-primary my-2">Check</a>
     </div>
        </p>
    </div>
  </div>

@if (Timings != null)
{
    @for (int i = 0; i < Timings2.Count; i++)
    {
        var t0 = Timings0[i];
        var t1 = Timings1[i];
        var t2 = Timings2[i];

        <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
            <div class="col">
                <div class="card h-100">
                    <img src="@($"{t0.Site.ScreenshotBase64}")" class="card-img-top" alt="...">
                    <div class="card-body">

                        <div class="d-flex flex-row">
                            <img src="@($"https://www.google.com/s2/favicons?domain={t0.Site.Name}")" class="my-2" width="16" height="16">
                            <h5 class="card-title">@t0.Site.Name</h5>
                        </div>
                        <p class="card-text">Latency: @t0.LatencyInChrome DomLoaded: @t0.DOMContentLoadedEventInChrome</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated @t0.DateCreated.GetValueOrDefault().TimeAgo()</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="@($"{t1.Site.ScreenshotBase64}")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <img src="@($"https://www.google.com/s2/favicons?domain={t1.Site.Name}")" class="my-2" width="16" height="16">
                            <h5 class="card-title">@t1.Site.Name</h5>
                        </div>
                        <p class="card-text">Latency: @t1.LatencyInChrome DomLoaded: @t1.DOMContentLoadedEventInChrome</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated @t1.DateCreated.GetValueOrDefault().TimeAgo()</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="@($"{t2.Site.ScreenshotBase64}")" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <img src="@($"https://www.google.com/s2/favicons?domain={t2.Site.Name}")" class="my-2" width="16" height="16">
                            <h5 class="card-title">@t2.Site.Name</h5>
                        </div>
                        <p class="card-text">Latency: @t2.LatencyInChrome DomLoaded: @t2.DOMContentLoadedEventInChrome</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated @t2.DateCreated.GetValueOrDefault().TimeAgo()</small>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span class="sr-only">Loading...</span>
    <div class="spinner-border" role="status">
    </div>
}
